{% extends 'base.html.twig' %}

{% block title %}Events index{% endblock %}

{% block body %}
    <h1>Events index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Event_name</th>
                <th>Event_datetime</th>
                <th>Event_description</th>
                <th>Event_image</th>
                <th>Event_capacity</th>
                <th>Event_email</th>
                <th>Event_phone</th>
                <th>Event_address</th>
                <th>Event_url</th>
                <th>Event_type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.eventName }}</td>
                <td>{{ event.eventDatetime ? event.eventDatetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.eventDescription }}</td>
                <td>{{ event.eventImage }}</td>
                <td>{{ event.eventCapacity }}</td>
                <td>{{ event.eventEmail }}</td>
                <td>{{ event.eventPhone }}</td>
                <td>{{ event.eventAddress }}</td>
                <td>{{ event.eventUrl }}</td>
                <td>{{ event.eventType }}</td>
                <td>
                    <a href="{{ path('app_events_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_events_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_events_new') }}">Create new</a>
{% endblock %}
