{% extends 'base.html.twig' %}

{% block title %}Events index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/styles.css")}}"
{% endblock %}

{% block body %}
    <h1>Events index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name of Event</th>
                <th>Date and starting time</th>
                <th>Description</th>
                <th>Image</th>
                <th>Max capoacity</th>
                <th>email</th>
                <th>Event's phone number</th>
                <th>address</th>
                <th>Homepage</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.eventName }}</td>
                <td>{{ event.eventDatetime ? event.eventDatetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.eventDescription }}</td>
                <td><img src="{{ event.eventImage }}" alt="Girl in a jacket" width="100" height="100"></td>
                <td>{{ event.eventCapacity }}</td>
                <td><a href="mailto:{{ event.eventEmail }}">{{ event.eventEmail }}</a></td>
                <td>{{ event.eventPhone }}</td>
                <td>{{ event.eventAddress }}</td>
                <td><a href="{{ event.eventUrl }}">{{ event.eventUrl }}</a></td>
                <td>{{ event.eventType }}</td>
                <td>
                    <a href="{{ path('app_events_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_events_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_events_new') }}">Create new</a>
{% endblock %}
