{% extends 'base.html.twig' %}

{% block title %}Events index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/styles.css")}}"
{% endblock %}

{% block body %}
    <h1>Events index</h1>

<div class = "row row-cols-4">
    {% for event in events %}
        <div class="card" style="width: 18rem;">
            <img src="{{ event.eventImage }}" alt="Girl in a jacket" >
            <div class="card-body">
                <h5 class="card-title">{{ event.eventName }}</h5>
                <p class="card-text">Date: {{ event.eventDatetime ? event.eventDatetime|date('Y-m-d H:i:s') : '' }}</p>
                <a class = "btn btn-info" href="{{ path('app_events_show', {'id': event.id}) }}">show</a>
                <a class = "btn btn-warning" href="{{ path('app_events_edit', {'id': event.id}) }}">edit</a>

            </div>
        </div>
    {% else %}
        <tr>
            <td colspan="12">no records found</td>
        </tr>
    {% endfor %}
</div>
<a href="{{ path('app_events_new') }}">Create new</a>

   




{% endblock %}
