{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
    <h1>Events</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Event_name</th>
                <td>{{ event.eventName }}</td>
            </tr>
            <tr>
                <th>Event_datetime</th>
                <td>{{ event.eventDatetime ? event.eventDatetime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Event_description</th>
                <td>{{ event.eventDescription }}</td>
            </tr>
            <tr>
                <th>Event_image</th>
                <td>{{ event.eventImage }}</td>
            </tr>
            <tr>
                <th>Event_capacity</th>
                <td>{{ event.eventCapacity }}</td>
            </tr>
            <tr>
                <th>Event_email</th>
                <td>{{ event.eventEmail }}</td>
            </tr>
            <tr>
                <th>Event_phone</th>
                <td>{{ event.eventPhone }}</td>
            </tr>
            <tr>
                <th>Event_address</th>
                <td>{{ event.eventAddress }}</td>
            </tr>
            <tr>
                <th>Event_url</th>
                <td>{{ event.eventUrl }}</td>
            </tr>
            <tr>
                <th>Event_type</th>
                <td>{{ event.eventType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_events_index') }}">back to list</a>

    <a href="{{ path('app_events_edit', {'id': event.id}) }}">edit</a>

    {{ include('events/_delete_form.html.twig') }}
{% endblock %}
